/Agent.java
/AgentFactory.java
/AgentPackage.java
/AgentSystem.java
/AgentTool.java
/AllExamples.java
/Example.java
/ExampleSet.java
/JavaTool.java
/JsonType.java
/Llm.java
/McpTool.java
/NamedElement.java
/Parameter.java
/Property.java
/Resource.java
/SelectionStrategy.java
/SimilaritySelection.java
/Skill.java
/Task.java
/Tool.java
